.dashboard {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right top, #10007a, #050c77, #002fa3, #001a6e, #001e69, #002fa3, #002471, #002fa3, #002a84, #002d93, #002fa3, #0631b2);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.home {
  background: linear-gradient(to right top, rgba(0, 0, 0, 0.5), rgba(8, 6, 6, 0.5), rgba(8, 6, 6, 0.5)), url('../img/img-background1.jpg'); 
  background-position: top center;
  background-size: cover;
  // background-repeat: no-repeat;
  background-attachment: fixed;
}
.dashboard1 {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right top, #10007a, #002fa3, #001473, #001a6e, #001e69, #00216d, #002471, #002fa3, #10007a, #002d93, #002fa3, #0631b2);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 330px;
  bottom: 0;
  z-index: 50;
  background-color: rgb(18, 2, 90);
  box-shadow: black;
  padding: 4px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.overlay-menu.open {
  transform: translateX(0);
}
.photos {
  height: 30rem;
  width: 240rem;
}
